<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BaiSqlFormatForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <BaiSqlFormatForm.Properties.Settings>
      <setting name="MaxLineWidth" serializeAs="String">
        <value>170</value>
      </setting>
      <setting name="ExpandCommaLists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeywordAlign" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpandBooleanExpressions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpandCaseStatements" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExpandBetweenConditions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExpandInLists" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BreakJoinOnSections" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UppercaseKeywords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HTMLColoring" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllIndent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AsAlign" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllUpper" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeywordLengthOfAs" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="chkdefault" serializeAs="String">
        <value>True</value>
      </setting>
    </BaiSqlFormatForm.Properties.Settings>
  </userSettings>
</configuration>